rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admins/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /utilisateurs/{userId} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /abonnements/{userId} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /reservations/{resId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || exists(/databases/$(database)/documents/admins/$(request.auth.uid)));
      allow write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow update: if request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /cars/{carId} {
      allow read: if resource.data.disponible == true || exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow write: if request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
  }
}